.image{
  width: 100%;
  max-height: 800px;
  overflow: hidden;
  position: relative;
}
.look-image{
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}



.main-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
}
.look-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
}
.gray{
  color: #888
}
.form-control{
  width: 250px;
  height: 50px;
  font-size: 1.3em;
}
.date{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
}
.btn-date{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate( -50%, -50% );
  background-color: #562BFF;
  color: white;
  text-align: center;
  font-weight: 200;
  margin-top: 15px;
  font-size: 1.3em;
  padding: 20px 30px;
}
.btn-look{
  background-color: #562BFF;
  color: white;
  text-align: center;
  font-weight: 200;
}
.btn-look2{
  background-color: #7AA7FF;
  color: white;
  text-align: center;
  font-weight: 200;
}
.img{
  min-height: initial;
}
.login-section {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.login-section h1 {
  margin-bottom: 30px;
}
.login-section .btn {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.login-section .btn-google {
  background-color: #4285F4;
}
.login-section .btn-naver {
  background-color: #03C75A;
}
.login-section p {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}
/* Footer */
#footer {
  width: 100%;
  float: left;
  display: block;
  height: 250px;
  line-height: 100px;
  color: #000000;
  background-color: #fff;
  bottom: 0%;
  /* text-align: center; */
}
.center{
  margin-left: 500px;
}
.line{
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: black;
}
.look-line
{
  width: 100%;
  margin-left: 500px;
  height: 1px;
  margin-top: 10px;
  background-color: black;
}
.sns{
  width: 200px;
}
/* 모바일 버전 헤더 영역 */
.navbar-toggler:hover + .navbar-collapse{
  display: block !important;
}

#area {
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}